* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Be Vietnam Pro', sans-serif;
  color: #CDD5E0;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero {
  background-image: url('../public/dccl--javascript-github-profile/hero-image-github-profile.png');
  min-height: 20rem;
  background-size: cover;
  background-position: center;
}

.searchbar:focus {
  outline: 0;
}

main {
  background-color: #20293A;
  padding: 1em;
  min-height: calc(100vh - 20rem);
}

.userinfo {
  display: flex;
  gap: 2em;
}

.userffl {
  display: flex;
  gap: 2em;
  align-self: flex-start;
}

@media (max-width:600px) {

  .userffl,
  .userinfo {
    flex-direction: column;
    gap: 1em;
  }
}

.user-avatar {
  border: 1em solid #20293A;
  border-radius: 1em;
}

figure {
  transform: translateY(-50%);
}

.userffl span {
  margin: .5em;
}